.user-info-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; 
}

.profile-picture {
  width: 100px;
  height: 100px; 
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.order-summary-box {
  background-color: #ffffff;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  margin-left: 150px;
}

.review {
  border: 1px solid #ccc; 
  padding: 10px; 
  margin-bottom: 20px;
}

#rating { 
  font-size: 0;
}

#rating span {
  font-size: 40px;
}

#rating span::before { 
  content: "☆";
}

#rating span.active::before {
  content: "★";
  color: orange;
}

#rating span:hover { 
  cursor: pointer;
}



.pagination {
  display: flex;
  list-style: none;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}


.card {
margin-bottom: 17px; /* Add space between cards */
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
border: 1px solid #ddd; /* Add a border */
border-radius: 8px; /* Optional: Add rounded corners */
}

.card-img-top {
height: 150px;
object-fit: cover;
border-top-left-radius: 8px; /* Optional: Add rounded corners to the image */
border-top-right-radius: 8px;
}

.card-body {
padding: 15px;
}

.card-footer {
padding: 10px 15px;
}


