<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


</head>
<body>

  <div class="container mt-4">
    <section class="user-info-box">
      <div class="d-flex align-items-center">
        <div class="profile-picture">
          <img src="/components/src/resources/img/profile-avatar.png" alt="Profile Picture" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div>
          <h2>JohnIsHere</h2>
          <p>Name: John Doe</p>
          <p>Email: john@example.com</p>
        </div>
      </div>

      <div class="order-summary-box">
        <p><b>Total Orders: 1</b></p>
	<p><b>Paid (0) </b></p>
	<p><b>Shipped (1) </b></p>
	<p><b>Completed (0) </b></p>
      </div>
    </section>

    <!-- Orders Table Section -->
    <section class="mt-4">
      <h2>My Orders</h2>
      <table class="table">
        <tr>
          <th>Order ID</th>
          <th>Total</th>
          <th>Payment ID</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>123243521</td>
          <td>$147.28</td>
          <td>45242</td>
          <td>11/10/23</td>
          <td>Shipped</td>
        </tr>
      </table>
    </section>
  </div>

</body>
</html>

<%- include ('../partials/footer') %>
