<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information and Orders</title>
</head>
<body>
<ul>
  <h1>User Information</h1>
<ul>
  <p>User ID: </p>
  <p>Username: </p>
  <p>Email: </p>
  <p>First Name: </p>
  <p>Last Name: </p>
</ul>
</ul>
  
  
    <ul>
      <h2>Orders</h2>
    <ul>    
          <p>Order ID:</p> 
          <p>Total:</p> 
          <p> Payment ID:</p>  
          <p> Created At: </p> 
          <p> Modified At: </p> 
        
      <p>No orders found for this user.</p>
    </ul>
    </ul>
  
<table id="vertical-1">
    <tr>
        <th>Order ID</th>
        <th>Total</th><th>Payment ID</th><th>Created At:</th> <th>Modified At:</th>
    </tr>
    <tr>
        <td>Header 2</td>
        <td>data</td><td>data</td><td>data</td>
    </tr>
</table>
    
  
</body>
</html>

<%- include ('../partials/footer') %>