<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
    <p>
      &copy; Copyright 2023 : CSCI 3308 - Team 6 Project
    </p>
  </footer>
</body>
</html>