<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <div class="form-container">
      <h1>Have a Local Business You Want to Upload?</h1>
      <h2>Fill Out the Upload Form Below!</h2>

      <form action="/submit-business" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="apiBusinessId">API Business ID:</label>
          <input type="text" id="apiBusinessId" name="api_business_id" required>
        </div>

        <div class="form-group">
          <label for="businessName">Business Name:</label>
          <input type="text" id="businessName" name="name" required>
        </div>

        <div class="form-group">
          <label for="businessDescription">Business Description:</label>
          <input id="businessDescription" name="description" required>
        </div>

        <div class="form-group">
          <label for="businessImageURL">Business Image URL:</label>
          <input type="url" id="businessImageURL" name="photo_url" required>
        </div>

        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
