<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <section class="roofing-link">
            <h1>Roofing Services</h1>
            <p>Explore our roofing services by clicking the link below:</p>
            <a href="/roofinh" class="cta-button">Visit Roofing Page</a>
        </section>
    </div>
</main>

<%- include ('../partials/footer') %>