<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <section class="plumbing-link">
            <h1>Plumbing Services</h1>
            <p>Explore our plumbing services by clicking the link below:</p>
            <a href="/plumbing" class="cta-button">Visit Plumbing Page</a>
        </section>
    </div>
</main>

<%- include ('../partials/footer') %>