<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <section class="landscape-link">
            <h1>Landscape Services</h1>
            <p>Explore our landcaping services by clicking the link below:</p>
            <a href="/landscape" class="cta-button">Visit Landscaping Page</a>
        </section>
    </div>
</main>

<%- include ('../partials/footer') %>